<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.ceshi.mapper.CeshiMapper">
    
    <resultMap type="Ceshi" id="CeshiResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="passwrod"    column="passwrod"    />
        <result property="genxin"    column="genxin"    />
    </resultMap>
	
	<sql id="selectCeshiVo">
        select id, name, passwrod, genxin from ceshi
    </sql>
	
    <select id="selectCeshiList" parameterType="Ceshi" resultMap="CeshiResult">
        <include refid="selectCeshiVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="passwrod != null  and passwrod != '' "> and passwrod = #{passwrod}</if>
             <if test="genxin != null  and genxin != '' "> and genxin = #{genxin}</if>
         </where>
    </select>
    
    <select id="selectCeshiById" parameterType="Integer" resultMap="CeshiResult">
        <include refid="selectCeshiVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCeshi" parameterType="Ceshi">
        insert into ceshi
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="passwrod != null  and passwrod != ''  ">passwrod,</if>
			<if test="genxin != null  and genxin != ''  ">genxin,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="passwrod != null  and passwrod != ''  ">#{passwrod},</if>
			<if test="genxin != null  and genxin != ''  ">#{genxin},</if>
         </trim>
    </insert>
	 
    <update id="updateCeshi" parameterType="Ceshi">
        update ceshi
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="passwrod != null  and passwrod != ''  ">passwrod = #{passwrod},</if>
            <if test="genxin != null  and genxin != ''  ">genxin = #{genxin},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteCeshiById" parameterType="Integer">
        delete from ceshi where id = #{id}
    </delete>
	
    <delete id="deleteCeshiByIds" parameterType="String">
        delete from ceshi where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>