<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.course.mapper.CourseMapper">
    
    <resultMap type="Course" id="CourseResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
    </resultMap>
	
	<sql id="selectCourseVo">
        select id, name from sys_course
    </sql>
	
    <select id="selectCourseList" parameterType="Course" resultMap="CourseResult">
        <include refid="selectCourseVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
         </where>
    </select>
    
    <select id="selectCourseById" parameterType="Integer" resultMap="CourseResult">
        <include refid="selectCourseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCourse" parameterType="Course" useGeneratedKeys="true" keyProperty="id">
        insert into sys_course
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">#{name},</if>
         </trim>
    </insert>
	 
    <update id="updateCourse" parameterType="Course">
        update sys_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteCourseById" parameterType="Integer">
        delete from sys_course where id = #{id}
    </delete>
	
    <delete id="deleteCourseByIds" parameterType="String">
        delete from sys_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>