<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="data_list">
    <div class="data_content">
        <form id="paperSelect" action="@{/system/examList/getDetailPaper}" method="post" >
            <table width="40%" align="center">
                <tr>
                    <td><label><strong>请选择考试试卷：</strong></label></td>
                    <td>
                        <select id="paperId" name="paperId">
                            <option value="">请选择...</option>
                            <div class="weui-cell weui-media-box_appmsg">
                                <option th:each="p:${examList}" th:value="${p.id}"     th:selected="${p.id==-999}"    th:text="${p.name}" ></option>
                            </div>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
        </form>
        <div class="row">
            <div class="col-sm-offset-5 col-sm-10">
                <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>确 定</button>
                <button type="button" class="btn btn-sm btn-danger" onclick="javascript:history.back() "><i class="fa fa-reply-all"></i>返回 </button>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script>
    var prefix = ctx + "system/examList";
    function submitHandler() {
        console.log("submitHandler");
        var data = $("#paperSelect").serializeArray();
        var postIds = $.form.selectSelects("paperId");
        data.push({"name": "id", "value": postIds});
        $.post(prefix + "/getDetailPaper", {"id": $.form.selectSelects("paperId")}, function (data) {
            if (data) {
                alert("报名考试 " + data.paperName + " ok.");
                closeItem();
            }
        }, "json");
    }
</script>
</body>
</html>